@model MVC_Data.ViewModels.PeopleViewModel
@{
    ViewData["Title"] = "AddLanguagePerson";
}

<h1>@ViewBag.Title</h1>

@{
	if (TempData.Peek("Message") != null)
	{
		<h3>@TempData.Peek("Message")</h3>
		@TempData.Remove("Message")
		;
	}
}

<div class="row">
	<form class="container" method="post" asp-action="FilterPersonCity">
		<label>Search</label>
		<br />
		<input type="text" name="filterInput" required />
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>

<div class="row">
	<label>Add new Language to Person</label>
	<form class="container" method="post" asp-action="AddLanguagePerson">
		<div class="col">
			<label asp-for="NewPerson.Name"></label>
		</div>
		<div class="form-control">
			<select name="languages" class="col" asp-items="ViewBag.LanguageNames" multiple>
				<option class="col" value="" selected disabled>Select Language</option>
			</select>
			<span asp-validation-for="NewPerson.Languages"></span>
		</div>
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>
<p>@ViewBag.Statement</p>


@if (@Model != null)
{


	<partial name="_PersonHeaderPartial" model=@Model />
	<partial name="_PersonBodyPartial" model=@Model />

}
else
{
	<p>No results found.</p>
}
<div>
	<a asp-controller="Person" asp-action="Index">Refresh Table</a>
</div>