@model MVC_Data.ViewModels.PersonViewModel

@{
    //ViewData["Title"] = "Header";

    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>@ViewBag.Title</h1>*@

@*<p>@ViewBag.Statement</p>*@

@if (@Model != null)
{
    <div class="row">
        <div class="col" asp-for="model.Name" value="Name"><b>Name</b></div>
        <div class="col" asp-for="model.PhoneNumber" value="PhoneNumber"><b>Phone Number</b></div>
        <div class="col" asp-for="model.City" value="City"><b>City</b></div>
        <div class="col"></div>
    </div>

@foreach (var item in Model.People)

    {
    <partial name="_PersonBodyPartial" model="@item"  />
    }

}
else
{
    <p>No results found.</p>
}
