@model MVC_Data.ViewModels.PeopleViewModel

@{
    ViewData["Title"] = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>


<form class="container" method="post" asp-action="FilterPersonCity" asp-controller="Index">
    <label>Search</label><br />
    <input type="text" name="filterInput"/>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<form class="container" method="post" asp-action="AddPerson" asp-controller="Index">
    <label>New User Form:</label>
    <br />
    <input type="text" asp-for="NewPerson.Name" placeholder="Full Name" required />
    <input type="text" asp-for="NewPerson.PhoneNumber" placeholder="Phone Number" required />
    <input type="text" asp-for="NewPerson.CityId" placeholder="City Name" required />

@*<br />*@
@*<div class="form-group row">*@
        <select asp-for="NewPerson.CityId" class="form-control" asp-items="ViewBag.CityNames">
    <label asp-for="NewPerson.CityId" class="col-sm-1 col-form-label">City</label>
            <option value="" selected disabled>Select City</option>
        </select>
        <span asp-validation-for="NewPerson.CityId"></span>
    @*<div class="col-sm-3">
    </div>*@
@*</div>*@
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
<p>@ViewBag.Statement</p>


@if (@Model != null)
{


<partial name="_PersonHeaderPartial" model=@Model/>
<partial name="_PersonBodyPartial" model=@Model />
    
}
else
{
    <p>No results found.</p>
}
<div>
    <a asp-controller="Person" asp-action="Index">Refresh Table</a>
</div>