@model MVC_Data.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "Ajax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>


@*<form class="container" method="post" asp-action="FilterPersonCity">
    <label>Search</label><br />
    <input type="text" name="filterInput" />
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<form class="container" method="post" asp-action="AddPerson">
    <label>New User Form:</label>
    <br />
    <input type="text" asp-for="NewPerson.Name" placeholder="Full Name" required />
    <input type="text" asp-for="NewPerson.PhoneNumber" placeholder="Phone Number" required />
    <input type="text" asp-for="NewPerson.City" placeholder="City Name" required />
    <button class="btn btn-primary" type="submit">Submit</button>
</form>*@
@*<br />*@
<p>@ViewBag.Statement</p>

<form class="form-control">
    <input type="number" placeholder="Give me an ID" required />
    <input type="submit" class="btn btn-primary btn-group btn" onsubmit="GetDetails()" value="Get the Deets" />
    <input type="submit" id="delete" onsubmit="AnnihilatePerson()" class="btn-danger btn-group btn" value="Delete" />
</form>
<br />
<input type="submit" id="People" onsubmit="ListAllPeople()" class="btn btn-primary form-control" value="People"/>

<div id="peopleList"></div>

<script src=~/js/site.js></script>

