@model MVC_Data.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "Ajax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>


@*<form class="container" method="post" asp-action="FilterPersonCity">
    <label>Search</label><br />
    <input type="text" name="filterInput" />
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<form class="container" method="post" asp-action="AddPerson">
    <label>New User Form:</label>
    <br />
    <input type="text" asp-for="NewPerson.Name" placeholder="Full Name" required />
    <input type="text" asp-for="NewPerson.PhoneNumber" placeholder="Phone Number" required />
    <input type="text" asp-for="NewPerson.City" placeholder="City Name" required />
    <button class="btn btn-primary" type="submit">Submit</button>
</form>*@
@*<br />*@
<p>@ViewBag.Statement</p>

<div id="peopleList"></div>
<form>
    <input type="number" />
    <input type="submit" class="btn-outline-primary"/>
</form>
<button id="People" onclick="ListAllPeople()">People</button>
<button id="details" onclick="GetDetails()">Details</button>
<button id="delete" onclick="AnnihilatePerson()">Delete</button>
<div>
    <a asp-controller="Person" asp-action="PersonView">Refresh Table</a>
</div>


<script src=~/js/site.js></script>
